<div class="gestionar-socio-container">
  <h1>Gestionar Socio</h1>

  <form
    [formGroup]="socioForm"
    (ngSubmit)="guardarCambios()"
    class="socio-form"
  >
    <div class="form-group">
      <label>Nombre:</label>
      <input formControlName="nombre" />
    </div>

    <div class="form-group">
      <label>Cantidad de Asociados:</label>
      <input type="number" formControlName="cantidadAsociados" />
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="email" formControlName="email" />
    </div>

    <div class="form-group">
      <label>Teléfono:</label>
      <input formControlName="telefono" />
    </div>

    <div class="actions">
      <button type="submit" class="btn save">Guardar</button>
      <button type="button" class="btn delete" (click)="eliminarSocio()">
        Eliminar
      </button>
      <button type="button" class="btn back" (click)="volver()">Volver</button>
    </div>
  </form>
</div>