<div class="register-section">
  <h1>Registrar Socio</h1>

  <form [formGroup]="socioForm" (ngSubmit)="registrar()">

    <!-- Nombre -->
    <div class="info-section">
      <p>Nombre del socio*</p>
      <div class="input-field">
        <input formControlName="nombre" type="text" placeholder="Ej: Intel" />
      </div>
      @if (socioForm.get('nombre')?.touched && socioForm.get('nombre')?.invalid) {
        <small>El nombre es obligatorio</small>
      }
    </div>

    <!-- Email -->
    <div class="info-section">
      <p>Correo electrónico*</p>
      <div class="input-field">
        <input formControlName="email" type="email" placeholder="ejemplo@correo.com" />
      </div>
      @if (socioForm.get('email')?.touched && socioForm.get('email')?.invalid) {
        <small>Ingresa un correo válido</small>
      }
    </div>

    <!-- Teléfono -->
    <div class="info-section">
      <p>Teléfono de contacto*</p>
      <div class="input-field">
        <input formControlName="telefono" type="text" placeholder="8888-8888" />
      </div>
      @if (socioForm.get('telefono')?.touched && socioForm.get('telefono')?.invalid) {
        <small>Ingresa un número de teléfono válido</small>
      }
    </div>

    <!-- Contraseña -->
    <div class="info-section">
      <p>Contraseña*</p>
      <div class="input-field">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Ingrese su contraseña" formControlName="password" />
        <button class="toggle-password" type="button" (click)="onPasswordToggle()">
          @if (showPassword){
            <ng-icon name="ionEye"></ng-icon>
          } @else {
            <ng-icon name="ionEyeOff"></ng-icon>
          }
        </button>
      </div>
      @if (socioForm.get('password')?.touched && socioForm.get('password')?.invalid) {
        <small>La contraseña debe tener al menos 6 caracteres</small>
      }
    </div>

    <!-- URL del logo -->
    <div class="info-section">
      <p>URL del logo*</p>
      <div class="input-field">
        <input formControlName="logo" type="text" placeholder="https://ejemplo.com/logo.png" />
      </div>
      @if (socioForm.get('logo')?.touched && socioForm.get('logo')?.invalid) {
        <small>El URL del logo es obligatorio</small>
      }
    </div>

    <!-- Botones -->
    <div id="buttons-section">
      <button type="submit" class="button register">Registrar</button>
      <button type="button" class="button cancel" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
