<div class="register-section">
  <h1>Registrar Socio</h1>

  <form [formGroup]="socioForm" (ngSubmit)="registrar()">

    <!-- Nombre -->
    <div class="info-section">
      <p>Nombre del socio*</p>
      <div class="input-field">
        <input formControlName="nombre" type="text" placeholder="Ej: Intel" />
      </div>
      @if (socioForm.get('nombre')?.touched && socioForm.get('nombre')?.invalid) {
        <small>El nombre es obligatorio</small>
      }
    </div>

    <!-- Cantidad de asociados -->
    <div class="info-section">
      <p>Cantidad de asociados*</p>
      <div class="input-field">
        <input formControlName="cantidadAsociados" type="number" min="0" placeholder="Ej: 80" />
      </div>
      @if (socioForm.get('cantidadAsociados')?.touched && socioForm.get('cantidadAsociados')?.invalid) {
        <small>Ingresa un número válido</small>
      }
    </div>

    <!-- Email -->
    <div class="info-section">
      <p>Correo electrónico*</p>
      <div class="input-field">
        <input formControlName="email" type="email" placeholder="ejemplo@correo.com" />
      </div>
      @if (socioForm.get('email')?.touched && socioForm.get('email')?.invalid) {
        <small>Ingresa un correo válido</small>
      }
    </div>

    <!-- Teléfono -->
    <div class="info-section">
      <p>Teléfono de contacto*</p>
      <div class="input-field">
        <input formControlName="telefono" type="text" placeholder="8888-8888" />
      </div>
      @if (socioForm.get('telefono')?.touched && socioForm.get('telefono')?.invalid) {
        <small>Ingresa un número de teléfono válido</small>
      }
    </div>

    <!-- Botones -->
    <div id="buttons-section">
      <button type="submit" class="button register">Registrar</button>
      <button type="button" class="button cancel" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
