<div class="lista-asociados">
  <h2>Usuarios asociados a {{ socioActual?.nombre }}</h2>

  <ng-container *ngIf="userList$ | async as userList; else cargando">
    <div *ngIf="userList.length > 0; else vacio" class="lista-usuarios">
      <div *ngFor="let user of userList" class="usuario-card">
        <div class="avatar">{{ getInitials(user.userName) }}</div>
        <div class="usuario-info">
          <h3>{{ user.userName }}</h3>
          <p>{{ user.email || 'Sin correo registrado' }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #cargando>
    <p>Cargando usuarios asociados...</p>
  </ng-template>

  <ng-template #vacio>
    <p>No hay usuarios asociados a este socio.</p>
  </ng-template>

  <button id="back-btn" (click)="goBackToDashboard()">Volver</button>
</div>
