<div id="menu-gestion">
    <div class="usuario-section">
        <div id="usuario-logo">
            {{ getInitials() || '??'}}
        </div>
        <form [formGroup]="userForm">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td class="user-info">
                        @if (!isEditing) {
                            <span>{{user?.fullName}}</span>
                        } @else {
                            <input type="text" formControlName="fullName"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Correo:</td>
                    <td class="user-info">
                        @if (!isEditing) {
                            <span>{{user?.email}}</span>
                        } @else {
                            <input type="email" formControlName="email"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    <td class="user-info">
                        @if (!isEditing) {
                            <span>{{user?.phone}}</span>
                        } @else {
                            <input type="tel" formControlName="phone"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Área:</td>
                    <td class="user-info">
                        @if (!isEditing) {
                        <span>{{ getAreaName(user?.area) }}</span>
                        } @else {
                        <select formControlName="area">
                            <option *ngFor="let area of areas" [value]="area.id">
                            {{ area.nombre }}
                            </option>
                        </select>
                        }
                    </td>
                </tr>
            </table>
        </form>
        
        <div id="button-section">
            <div class="button" (click)="onEditClick()">
                {{ isEditing ? 'Guardar Cambios' : 'Editar' }}
            </div>
            <div class="button" (click)="onDeleteClick()">
                Eliminar
            </div>
        </div>
    </div>

    <div class="button" (click)="onGoLandingPage()">
        Volver a Landing Page
    </div>
</div>
