<div class="lista-container">
  <div class="header">
    <h1>Configuración Socios</h1>
    <div class="actions">
      <input
        type="text"
        placeholder="Buscar socio por nombre"
        class="search-bar"
      />
      @if (isAdmin) {<button class="btn add" (click)="agregarSocio()">➕ Agregar Socio</button>}
    </div>
  </div>

  @if (socios$ | async; as socios) {
    @if (socios.length === 0) {
      <div class="no-socios">
        <p>No hay socios registrados todavía.</p>
      </div>
    } @else {
      <div class="cards">
        @for (socio of socios; track socio.id) {
          <div class="card">
            <div class="card-header">
              <div class="placeholder">{{ socio.nombre[0] }}</div>
              <h2>{{ socio.nombre }}</h2>
            </div>

            <p><strong>Cantidad asociados:</strong> {{ socio.cantidadAsociados }}</p>
            <p><strong>Email:</strong> {{ socio.email }}</p>
            <p><strong>Teléfono:</strong> {{ socio.telefono }}</p>

            <div class="card-actions">
              <button class="btn view" (click)="verSocio(socio.id)">Ver socio</button>
            </div>
          </div>
        }
      </div>
    }
  }

  <div class="footer">
    <button class="btn back" (click)="volver()">⬅ Volver</button>
  </div>
</div>