<div *ngIf="!cargando && curso" class="contenedor-curso">
  
  <!-- Encabezado -->
  <div class="header">
    <button class="btn back" (click)="volver()">⬅ Volver</button>
    <h2>{{ curso.nombre }}</h2>
    <div class="progreso">
      <span>Progreso: {{ progreso }}%</span>
      <div class="barra">
        <div class="barra-progreso" [style.width.%]="progreso"></div>
      </div>
    </div>
  </div>

  <div class="contenido">
    <!-- Panel lateral -->
    <div class="sidebar">
      <img [src]="curso.imagen" alt="Imagen del curso" class="imagen-curso">

      <button class="btn add" (click)="mostrarExamen()">Examen</button>
      
      <div *ngFor="let modulo of modulos">
        <h4>{{ modulo.nombre }}</h4>
        <div *ngFor="let p of modulo.pantallas"
             class="pantalla-item"
             [class.activa]="pantallaSeleccionada === p"
             (click)="seleccionarPantalla(p)">
          {{ p.nombre }}
        </div>
      </div>
    </div>

    <div class="pantalla-info">
    <div *ngIf="mostrandoExamen" class="examen-layout">
      <h2>Examen</h2>
      <div class="scroll-preguntas">
        <div *ngFor="let pregunta of preguntasExamen" class="pregunta-preview">
          <h4>{{ pregunta.text }}</h4>
          <ul>
            <li *ngFor="let op of pregunta.ops">
              <input type="radio"
                    [name]="pregunta.id!"
                    [value]="op"
                    (change)="seleccionarRespuesta(pregunta.id!, op)"
                    [checked]="respuestasUsuario[pregunta.id!] === op">
              {{ op }}
            </li>
          </ul>
        </div>
      </div>
      <button class="continuar-btn" (click)="enviarExamen()">Enviar examen</button>
    </div>

      <div class="contenido-info" *ngIf="pantallaSeleccionada && !mostrandoExamen">
        <h3>{{ pantallaSeleccionada.nombre }}</h3>
        <iframe
          class="pantalla-frame"
          *ngIf="htmlPantalla"
          [srcdoc]="htmlPantalla"
        ></iframe>
      </div>

      <div class="botones-navegacion" *ngIf="!mostrandoExamen">
        <button class="volver-btn" (click)="retroceder()">< Volver</button>
        <button class="continuar-btn" (click)="continuar()">Continuar ></button>
      </div>
    </div>
  </div>
</div>
