<!-- Cuadro superior -->
<div id="top-bar">
  <div id="title">Configuración Usuarios</div>

  <div class="button-area">
    <div class="user-avatar" [ngClass]="{'open': userMenuOpen}" (click)="toggleMenu(false)">
      {{ getInitials() }}
    </div>
    @if (userMenuOpen) {
      <ul class="user-menu">
        <li (click)="onManageClick()">Gestionar Usuario</li>
        <li (click)="onLogoutClick()">Cerrar Sesión</li>
      </ul>
    }
  </div>
</div>

<div id="members-section">
  <h2>Listado de Miembros</h2>
  <div class="actions-row">
    <div class="left">
      <button id="back-btn" (click)="goBackToAdmin()">⬅ Volver</button>
    </div>

    <input 
      type="text"
      placeholder="Buscar por nombre"
      class="search-bar"
      (input)="actualizarFiltro($event.target.value)"
    />
  </div>

  <!-- Tabla -->
  <table id="members-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Contacto</th>
        <th>Email</th>
        <th>Fecha de Creación</th>
        <th>Autorización</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      @for (usuario of userList$ | async; track usuario.id) {
        <tr>
          <td>{{ usuario.fullName }}</td>
          <td>{{ usuario.phone }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ formatDate(usuario.createdAt) }}</td>

          <td>
            <button 
              [ngClass]="usuario.isAuto ? 'authorized-btn' : 'unauthorized-btn'"
              (click)="toggleAuthorization(usuario)"
              [disabled]="usuario.isAdmin">
              {{ usuario.isAuto ? 'Autorizado' : 'No Autorizado' }}
            </button>
          </td>

          <td>
            <button class="delete-btn" 
                    (click)="onDeleteClick(usuario)"
                    [disabled]="usuario.isAdmin">
              Eliminar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- PAGINACIÓN -->
  <div id="pagination">
    <button (click)="prevPage()">&lt;</button>

    <span>{{ page$ | async }} / {{ totalPages }}</span>

    <button (click)="nextPage()">&gt;</button>
  </div>
</div>
